body
{
<<<<<<< HEAD
    color:#0026ff;
=======
    color:#88f012;
>>>>>>> cabecera
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;

}

#container
{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 0.5px solid #8b0000;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;

}


#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.6em;
}


#cabecera
{
    background: #8b0000;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.75);
    color:#ffffff;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;

}

